---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
const pageTitle = "Tools";
---
<Layout title={pageTitle}>
 <Header activeNav="tools"/>
 <Main pageTitle={pageTitle}>
   <ul>
     <li><a href="/tools/age">Age</a></li>
   </ul>
 </Main>