---
import { getCollection, CollectionEntry } from "astro:content";
interface Props {
  posts: Array<CollectionEntry<'blog'>>;
}
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/BlogCard.astro";

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");
    // const allPosts = await Astro.glob("../../pages/posts/*.md");
    const tags = [...new Set(allPosts.filter(post => post.data.tags).map(post => post.data.tags).flat())];

    return tags.map(tag => {
        const filteredPost = allPosts.filter(post => post.data.tags?.includes(tag));
        return {
            params: { tag },
            props: {
                posts: filteredPost
            }
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
		{ posts.map(post => <BlogCard url={`/posts/${post.slug}`} title={post.data.title} />) }
	</ul>
</BaseLayout>
