---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
const pageTitle = "About";
---
<Layout title={pageTitle}>
 <Header activeNav="about"/>
<main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{pageTitle}</h1>
      <slot />
    </section>
  </main>
</Layout>